---
import { type CollectionEntry } from "astro:content";

import { Image } from "astro:assets";

import outshine from "../assets/img/outshine.png";
import nollalinja from "../assets/img/nollalinja.png";
import thl from "../assets/img/thl.png";
import viaplay from "../assets/img/viaplay.png";
import irisolsson from "../assets/img/irisolsson.png";

import featured_image from "../assets/img/nollalinja_featured-image.png";


import "../main.css";
import Paragraph from "../components/Paragraph.astro";
import Carousel from "../components/Carousel.astro";
import VideoComponent from "../components/VideoComponent.astro";

interface Props {
  content: CollectionEntry<"main">;
  title: String;
}

const { content, title } = Astro.props;
---

<!doctype html>
<html lang=`${content.slug}`>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css"
    />

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        //@ts-ignore
        j.async = true;
        //@ts-ignore
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        //@ts-ignore
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-WW9S3N6R");
    </script>
    <!-- End Google Tag Manager -->
  </head>

  <body class="bg-[#0c0c0c]">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WW9S3N6R"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <script src="../scripts/cookieconsent-config.js"></script>

    <script>document.documentElement.classList.add('cc--darkmode');</script>

    <!-- <Cookie
      cookieConsentHeadline={content.data.cookieConsentHeadline}
      cookieConsent={content.data.cookieConsent}
      cookieConsentButton={content.data.cookieConsentButton}
    /> -->

    <nav class="">
      <div
        class="flex justify-end p-2 sm:p-6 md:p-9 lg:p-12 fixed z-[1000] w-full"
      >
        {
          content.slug == "fi" ? (
            <a href="/">
              <div class="flex items-center px-4 py-2 text-xs font-display uppercase text-white line-clamp-none md:text-sm">
                in english
              </div>
            </a>
          ) : (
            <a href="/fi">
              <div class="flex items-center px-4 py-2 text-xs font-display uppercase text-white line-clamp-none md:text-sm">
                suomeksi
              </div>
            </a>
          )
        }
      </div>
    </nav>
    <div class="h-0 w-0 -z-50 invisible">
      <Image
        src={featured_image}
        alt="social sharing image for ringside event"
      />
    </div>
    <!-- <Loading /> -->
    <div
      class="h-[85vh] bg-cover bg-center bg-norepeat text-center flex flex-row justify-center py-16"
    >
      <VideoComponent />

      <div
        class="w-full max-w-screen-2xl flex flex-col justify-between h-full font-display"
      >
        <div class=""></div>
        <div class="">
          <div
            class="text-[max(2vw,20px)] text-ivory drop-shadow-lg uppercase font-display leading-none tracking-widest"
          >
            {content.data.s1heading}
          </div>
          <div
            class="text-[min(24vw,320px)] text-ivory uppercase font-condensed tracking-tighter leading-none flex flex-row justify-center drop-shadow-lg"
          >
            {content.data.s1display}
          </div>
          <div
            class="text-[max(1vw,14px)] tracking-wide uppercase text-ivory font-display drop-shadow-xl px-3"
          >
            {content.data.s1subtitle}
          </div>
        </div>

        <div class="w-full"></div>
      </div>
    </div>

    <Paragraph
      heading={content.data.s3heading}
      body1={content.data.s3body1}
      body2={content.data.s3body2}
    />

    <!-- <div class="w-full max-w-[1784px] p-4">
      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/1033032008?h=1abaa9859e&badge=0&autopause=0&player_id=0&app_id=58479"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Nollalinja - Fromtheringside_doc_ONLINE_v5_eng_sub"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
    </div> -->

    <div class="w-full p-4">
      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe
          style="position:absolute;top:0;left:0;"
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/cCTvRvz2U1Y?si=fxk03ilJdUYv15jr?rel=0"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        >
        </iframe>
      </div>
    </div>

    <div
      class="p-4 pt-12 sm:p-12 sm:pb-0 md:p-16 md:pb-0 xl:p-32 xl:pb-0 w-full flex flex-col gap-8 lg:gap-16"
    >
      <div class="flex flex-col md:flex-row gap-8 lg:gap-16">
        <div class="flex-1">
          <div
            class="bg-[url('/img/card-1.jpg')] bg-[rgba(0,0,0)] bg-cover bg-bottom bg-norepeat flex justify-center items-center aspect-video text-white text-md p-8 text-center font-normal"
          >
            "{content.data.card3}"
          </div>
        </div>
        <div class="flex-1">
          <div
            class="bg-[url('/img/card-2.jpg')] bg-[rgba(0,0,0)] bg-cover bg-center bg-norepeat flex justify-center items-center aspect-video text-white text-md p-8 text-center font-normal"
          >
            "{content.data.card4}"
          </div>
        </div>
      </div>

      <div class="flex flex-col md:flex-row gap-8 lg:gap-16">
        <div class="flex-1">
          <div
            class="bg-[url('/img/card-3.jpg')] bg-[rgba(0,0,0)] bg-cover bg-bottom bg-norepeat flex justify-center items-center aspect-video text-white text-md p-8 text-center font-normal"
          >
            "{content.data.card2}"
          </div>
        </div>

        <div class="flex-1">
          <div
            class="bg-[url('/img/card-4.jpg')] bg-[rgba(0,0,0,0)] bg-cover bg-top bg-norepeat flex justify-center items-center aspect-video text-white text-md p-8 text-center font-normal"
          >
            "{content.data.card1}"
          </div>
        </div>
      </div>
    </div>

    <Paragraph
      heading={content.data.s5heading}
      body1={content.data.s5body1}
      body2={content.data.s5body2}
    />

    <div class="flex flex-col lg:flex-row w-full h-[max(80vh,420px)] gap-0">
      <div class="flex flex-1">
        <div
          class="bg-[url(/img/ringside_1.jpg)] bg-top bg-no-repeat bg-cover flex-1"
        >
        </div>
        <div
          class="bg-[url(/img/ringside_2.jpg)] bg-top bg-no-repeat bg-cover flex-1"
        >
        </div>
      </div>
      <div class="flex flex-1">
        <div
          class="bg-[url(/img/ringside_3.jpg)] bg-top bg-no-repeat bg-cover flex-1"
        >
        </div>
        <div
          class="bg-[url(/img/ringside_4.jpg)] bg-top bg-no-repeat bg-cover flex-1"
        >
        </div>
      </div>
    </div>

    <Paragraph
      heading={content.data.s6heading}
      body1={content.data.s6body1}
      link={content.data.s6bodylink}
      body2={content.data.s6body2}
      linktext={content.data.s6bodylinktext}
    />

    <div class="p-4 sm:p-12 sm:py-2 md:p-16 md:py-4 xl:p-32 xl:py-4 text-white">
      <div class="text-xl font-condensed uppercase pb-4">
        {content.data.s7heading}
      </div>
      <div class="text-white flex flex-col lg:flex-row gap-8">
        <div class="flex-1 py-2">
          <div class="flex-1 flex flex-col md:flex-row gap-8">
            <div
              class="after:content-['Photo:_Tuukka_Koski'] after:inline-block after:text-white after:italics after:text-xs -mb-5"
            >
              <Image src={irisolsson} alt="image of director Iris Olsson" />
            </div>
          </div>
          <!-- <div class="flex-1"></div> -->
        </div>

        <div class="flex flex-col gap-4 flex-1 lg:-mt-2 justify-end">
          <div
            class="flex flex-row text-lg font-condensed uppercase items-center gap-4"
          >
            <div class="">
              {content.data.s7subheading}
            </div>
            <!-- <div class="">•</div>
            <div class="leading-none">
              {content.data.s7subheading2}
            </div> -->
          </div>
          <div
            class="text-[max(1.3vw,16px)] font-sans text-white leading-snug max-w-screen-lg py-2"
          >
            {content.data.s7body1}
          </div>
          <div
            class="text-[max(1.3vw,16px)] font-sans text-white leading-snug max-w-screen-lg"
          >
            {content.data.s7body2}
          </div>
        </div>
      </div>
    </div>

    <div class="w-full p-4 py-12 sm:p-12 md:p-16 xl:p-32">
      <div class="flex flex-row justify-center items-start">
        <div class="w-full md:pb-16 sm:pb-12 pb-4">
          <div
            class="text-[max(4vw,40px)] text-white font-condensed uppercase leading-[1.13]"
          >
            {content.data.s8heading}
          </div>
        </div>
      </div>
      <Carousel />
    </div>
  </body>
  <footer class="p-12 pb-16 md:py-32 flex justify-center">
    <div
      class="max-w-[1536px] flex flex-col md:flex-row justify-center items-center gap-12"
    >
      <div class="flex flex-col md:flex-row gap-10 lg:gap-12">
        <div class="max-w-48 flex flex-1 items-center">
          <Image src={thl} alt="logo of thl" />
        </div>
        <div class="max-w-56 flex flex-1 items-center">
          <Image src={nollalinja} alt="logo of nollalinja" />
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-10 lg:gap-12">
        <div class="max-w-24 flex items-center">
          <Image src={viaplay} alt="logo of viaplay" />
        </div>
        <div class="max-w-24 flex items-center">
          <Image src={outshine} alt="logo of outshine" />
        </div>
      </div>
    </div>
  </footer>
</html>
