---
import { type CollectionEntry } from "astro:content";

import { Image } from "astro:assets";
import { Vimeo } from "@astro-community/astro-embed-vimeo";

import heroImage from "../assets/img/nollalinja_1124_hero.jpg";
import outshine from "../assets/img/outshine.png";
import nollalinja from "../assets/img/nollalinja.png";
import thl from "../assets/img/thl.png";
import viaplay from "../assets/img/viaplay.png";

import Timer from "../components/Timer.astro";
import VideoComponent from "../components/VideoComponent.astro";
// import Loading from "../components/loading.astro";

interface Props {
  content: CollectionEntry<"main">;
  title: String;
}
const { content, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="bg-[#0c0c0c]">
    <nav class="">
      <div class="flex justify-end p-4 sm:p-8 md:p-12 lg:p-16 fixed z-[1000] w-full">
        {
          content.slug == "trailer_fi" ? (
            <a href="/">
              <div class="flex items-center px-4 py-2 mx-2 text-xs font-bold uppercase text-white line-clamp-none md:text-lg hover:bg-white/[.10">
                in english
              </div>
            </a>
          ) : (
            <a href="/fi">
              <div class="flex items-center px-4 py-2 mx-2 text-xs font-bold uppercase text-white line-clamp-none md:text-lg hover:bg-white/[.10">
                suomeksi
              </div>
            </a>
          )
        }
      </div>
    </nav>
    <!-- <Loading /> -->
    <div
      class="h-[85vh] bg-cover bg-center bg-norepeat text-center flex flex-row justify-center py-16"
    >
      <VideoComponent />

      <div
        class="w-full max-w-screen-2xl flex flex-col justify-between h-full font-display"
      >
        <div class=""></div>
        <div class="">
          <div
            class="text-[2vmin] text-ivory drop-shadow-lg uppercase font-display font-bold leading-none tracking-widest"
          >
            {content.data.s1heading}
          </div>
          <div
            class="text-[min(17vw,320px)] text-ivory uppercase leading-none flex flex-row justify-center font-kondensed drop-shadow-lg"
          >
            {content.data.s1display}
          </div>
          <div
            class="text-[2vmin] tracking-wide uppercase text-ivory font-display font-bold drop-shadow-xl"
          >
            {content.data.s1subtitle}
          </div>
        </div>

        <div class="w-full">
          {
            content.slug == "trailer_en" ? (
              <Timer
                days={"days"}
                hours={"hours"}
                minutes={"minutes"}
                seconds={"seconds"}
              />
            ) : (
              <Timer
                days={"päivää"}
                hours={"tuntia"}
                minutes={"minuuttia"}
                seconds={"sekuntia"}
              />
            )
          }
        </div>
      </div>
    </div>
    <div class="p-8 py-8 md:py-32 flex flex-row justify-center font-display">
      <div class="max-w-[1536px]">
        <div
          class="text-[4vmax] text-white font-bold font-kondensed uppercase leading-[1.13]e"
        >
          {content.data.s3heading}
        </div>
        <div
          class="text-[2vmax] text-white font-bold uppercase leading-[1.13] py-4"
        >
          {content.data.s3body1}
        </div>
        <div class="text-[1.3vmax] font-sans text-white leading-tight py-4">
          {content.data.s3body2}
        </div>
      </div>
    </div>
    <div class="w-full p-8">
      <Vimeo id="https://vimeo.com/1024212175/" />
    </div>
    <footer class="p-8 py-8 md:py-32 flex justify-center">
      <div
        class="max-w-[1536px] flex flex-col md:flex-row justify-center gap-12"
      >
        <div class="max-w-24 flex items-center">
          <Image src={thl} alt="logo of outshine" />
        </div>
        <div class="max-w-32 flex items-center">
          <Image src={viaplay} alt="logo of viaplay" />
        </div>
        <div class="max-w-32 flex items-center">
          <Image src={outshine} alt="logo of outshine" />
        </div>
        <div class="max-w-32 flex items-center">
          <Image src={nollalinja} alt="logo of nollalinja" />
        </div>
      </div>
    </footer>
  </body>
</html>
