---
import { type CollectionEntry } from "astro:content";

import { getImage } from "astro:assets"
import heroImage from "../assets/img/nollalinja_1124_hero.jpg"


interface Props {
	content: CollectionEntry<"main">;
	title: String;
}
const { content, title } = Astro.props;

const optHeroImage = await getImage({ src: heroImage })
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<nav class="flex items-center justify-between w-full p-3 md:p-4">
			
		</nav>
		<div class=`h-[85vh] w-full bg-[url('${optHeroImage.src}')] bg-cover bg-center bg-norepeat`>
			<div class="flex-col ">
				<div class="">
					{content.data.s1heading}
				</div>
				<div class="">
					{content.data.s1display}
				</div>
				<div class="">
					{optHeroImage.src}
					{content.data.s1subtitle}
				</div>
			</div>
		</div>
	</body>
</html>
